<div class="p-3 mb-2 bg-dark text-white text-center">
    <p>
        Application web développé par Lew pour la section Rocket League de l'association <a href="http://teamdelta.fr/" target="_blank">Team Delta</a> &copy; {{ "now"|date('Y') }}<br>
        Powered by <a href="https://rocketleague.tracker.network/">https://rocketleague.tracker.network/</a>
    </p>
</div>