{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center">Line Ups</h2>

    <hr>

    <table class="table table table-responsive-xl table-striped table-dark table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Nom</th>
            <th>Tag</th>
            <th>Membres</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for lineUp in lineUps %}
            <tr>
                <td>{{ lineUp.nom }}</td>
                <td>{{ lineUp.tag }}</td>
                <td>
                    {% for joueur in lineUp.joueurs %}
                        {{ joueur }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                    {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('lineup_edit', { 'id': lineUp.id }) }}" class="text-dark">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                </td>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
